body{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    padding-bottom: 5%;
}
a.navbar-link{
    text-decoration: none;
    color: black;
    font-size: 20px;
    justify-items: flex-end;
    
}
a{
    text-decoration: none;
}

#navbar-div{
    display: none;
    justify-items: flex-end;
    text-align: right;
    column-gap: 20px;
    padding: 10px 40px;
    font-weight: 500;
}

#backdrop{
    display: flex;
    text-align: center;
    flex-direction: column-reverse;
    justify-content: space-around;
    column-gap: 25px;
    padding: 0px 8%;
    margin-top: 5%;
}

img.dp{
    width: 200px;
    height: auto;
}
@media screen and (min-width:500px) {
    #backdrop{
        flex-direction:row;
        text-align: left;

    }
    #backdrop-left-column{
        width: 50%;
    }
    img.dp{
        width: 300px;
        height: auto;
    }
    #backdrop-right-column{
        
        width: 45%;
        text-align: center;
    }
    #navbar-div{
        display: flex;
    }
    #backdrop-left-column >h1{
        font-size: 44px;
    }
}

#backdrop-left-column{
    width: 100%;
}

#backdrop-left-column >h1{
    font-weight: 700;
    font-size: 32px;
}

#backdrop-left-column >p{
    font-weight: 400;
    font-size: 16px;
}

#backdrop-left-button{
    background-color: brown;
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 20px;
    border: 0;
}

#backdrop-right-column{
    width: 100%;
    text-align: center;
}

#recent-blog-posts-section{
    background-color: #EDF7FA;
    padding: 5% 2%;
    margin-top: 20px;
}

#recent-posts-header{
    display: flex;
    justify-content: space-between;
}

#recent-posts-header>h4{
    font-weight: 400;
    font-size: 22px;
    margin: 0;
}
#card-hosting{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
@media screen and (min-width:500px) {
    #card-hosting{
        display: flex;
        flex-direction: row;
        column-gap: 1%;
    }
    #recent-blog-posts-section{
        padding: 1.5% 8%;
        
    }
    
}
div.card{
    color: black;
    font-weight: 400;
    background-color: white;
    border-radius: 5px;
    padding: 20px 22px;
}
div.card>span{
    font-size: 16px;
    padding: 5px 10px;
}

div.card>p{
    font-size: 16px;
}
div.card>h2{
    
    font-weight: 700;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
 
section.certifications{
    background-color: white;
    padding: 1.5% 8%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#certifications>h4{
    font-weight: 700;
    font-size: 300px;
    margin: 0;
}

div.horizontal-card{
    display: flex;
    flex-direction: column;
    column-gap: 3%;
    margin-top: 3%;
}
 
@media screen and (min-width:500px) {
    div.horizontal-card{
        flex-direction: row;
        row-gap: 30px;
        
    }
}

h2.my-h2{
    font-weight: 700;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
span.pill{
    background-color: #142850;
    padding: 1.5px 15px;
    color: white;
    border-radius: 15px;
    font-weight: 700;
    font-size: 16px;
}

span.secondary-text{
    color: #8695A4;
    font-size: 20px;
    margin-left: 16px;

}

h4.my-certifications{
    font-weight: 700;
    font-size: 30px;
    margin-left: 5px;
}
div.horizontal-card>div>p{
    color: #21243D;
    font-size: 16px;

}

div.horizontal-card>img{
    border-radius: 30px;
    /* display: flex;
    flex-direction: row; */
}

#social-media-links{
    text-align: center;
    font-size: 38px;
    display: flex;
    column-gap: 15px;
    justify-content: center;
    margin-top: 50px;
    align-items: baseline;
}
#social-media-links>a{
    color: #142850;

}